@page "/fichaPaciente"
<h1 class="text-lg-center">Fichas de pacientes</h1>
    <br>
    <div class="container">
    <h4>Crear ficha de paciente</h4>

    <h6 id="TituloF">Datos</h6>

    <label id="texto">Nombre:</label>
    <input id="estilo" type="text"  />
    <br
    <label id="texto">Apellido:</label>
    <input id="estilo" type="text" />
    <br
    <label id="texto">DNI:</label>
    <input id="estilo" type="text" />
    <br
    <label id="texto">Tipo de sangre:</label>
    <input id="estilo" type="text" />
    <br>
    <label id="texto">Contacto de emergencia:</label>
    <input id="estilo" type="text"  />
    <br
    <label id="texto">Fecha de nacimiento:</label>
    <input id="estilo" type="text"  />
    <br
    <label id="texto">Edad:</label>
    <input id="estilo" type="text"  />
    <br>
    <br>

    <h6 id="TituloF">Antecedentes</h6>

    <label id="texto">Asma:</label>
    <input id="estilo" type="checkbox"  />
    <br
    <label id="texto">Varicela:</label>
    <input id="estilo" type="checkbox"  />
    <br
    <label id="texto">Alergia:</label>
    <input id="estilo" type="checkbox"  />
    <br>
        @*Aca iria el select para cuando este el bool en true*@
    <label id="texto">Medicacion:</label>
    <input id="estilo" type="checkbox"/>
    <br >
    @*Aca iria el select para cuando este el bool en true*@
    <br>
    <h6 id="TituloF">Datos de ingreso</h6>

    <label id="texto">Obra social:</label>
    <input id="estilo" type="text" />
    <br>
    <label id="texto">N° de afiliado:</label>
    <input id="estilo" type="text" />
    <br>
    <label id="texto">Medico de cabecera:</label>
    <input id="estilo" type="text" />
    <br>
    <label id="texto">Diagnostico de ingreso:</label>
    <input id="estilo" type="text" />
    <br
    <label id="texto">Patologia base:</label>
    <input id="estilo" type="text" />
    <br
    <label>
        Zona: 
        <select name="Zona">
        <option value="mayi muy gay">Mayi gay</option>
        </select>
    </label>
    <br>
    <label>
        Enfermero asignado:
        <select name="Enfermero">
            <option value="mayi muy gay">Mayi gay</option>
        </select>
    </label>
    </div>
                
@code {

}
