@page "/fichaPaciente"
<h1 class="text-lg-center">Fichas de pacientes</h1>
    <br>
    
<div class="row container">
    <h4 >Crear ficha de paciente</h4>
    <br>
    <br>
    <br>
    <div class="col-4">
    <h6 >Datos</h6>

    <label >Nombre:</label>
    <br>
    <input  type="text"  />
    <br>
    <label >Apellido:</label>
        <br>
    <input  type="text" />
    <br>
    <label >DNI:</label>
    <br>
    <input  type="text" />
    <br>
    <label >Tipo de sangre:</label>
        <br>
    <input  type="text" />
    <br>
    <label >Contacto de emergencia:</label>
        <br>
    <input  type="text"  />
    <br>
    <label >Fecha de nacimiento:</label>
        <br>
    <input  type="text"  />
    <br>
    <label >Edad:</label>
        <br>
    <input  type="text"  />
    <br>
    <br>
    </div>
    <div class="col-lg-4">
    <h6 id="TituloF">Antecedentes</h6>
    <label >Asma:</label>
    <input  type="checkbox"  />
        <br>
    <label >Varicela:</label>
    <input  type="checkbox"  />
    <br>
    <label >Alergia:</label>
    <input  type="checkbox"  />
        <br>
        @*Aca iria el select para cuando este el bool en true*@
    <label >Medicacion:</label>
    <input  type="checkbox"/>
        <br>
        <label >Detalles de antecedentes:</label>
        <br>
        <input  type="text" />
    @*Aca iria el select para cuando este el bool en true*@
    <br>
</div>
    <div class="col-lg-4">
    <h6 id="TituloF">Datos de ingreso</h6>

    <label >Obra social:</label>
        <br>
    <input  type="text" />
    <br>
    <label >N° de afiliado:</label>
        <br>
    <input  type="text" />
    <br>
    <label >Medico de cabecera:</label>
        <br>
    <input  type="text" />
    <br>
    <label >Diagnostico de ingreso:</label>
        <br>
    <input  type="text" />
    <br>
    <label >Patologia base:</label>
        <br>
    <input  type="text" />
    <br>
    <br>
    <label>
        Zona: 
        <select name="Zona">
        <option value="mayi muy gay">Mayi gay</option>
        </select>
    </label>
    <br>
    <br>
    <label>
        Enfermero asignado:
        <select name="Enfermero">
            <option value="mayi muy gay">Mayi gay</option>
        </select>
    </label>
    </div>
    </div>
                
@code {
    public class PacienteViewModel
    {
        [Required, StringLength(255)]
        public string Nombre { get; set; }
        [Required, StringLength(255)]
        public string Apellido { get; set; }
        [Required, StringLength(255)]
        public string DNI { get; set; }
        [Required, StringLength(255)]
        public string ContactoEmergencia{ get; set; }
        public DateTime FechaNacimiento { get; set; } 
        public int Edad { get; set; }
        public bool Asma { get; set; }
        public bool TuvoVaricela { get; set; } 
        [Required, StringLength(45)]
        public string TipoSangre { get; set; }
        [Required, StringLength(255)]
        public string ObraSocial { get; set; }
        [Required, StringLength(255)]
        public string MedicoCabecera { get; set; }
        [Required, StringLength(255)]
        public string DiagnosticoIngreso { get; set; }
        public bool Alergia { get; set; } 
        [StringLength(255)]
        public string? DetalleAlergia { get; set; }
        [Required, StringLength(255)]
        public string PatologiaBase { get; set; } 
        public bool TomaMedicacion { get; set; } 
        public string? DetalleMedicacion { get; set; }
    }
}
