@page "/"

<PageTitle>Index</PageTitle>

<h2 class="text-center">Bienvenido a la pagina de gestión de "La Clínica de Neuquén"</h2>
<br>
<br>

<p>
    Aqui se podra gestionar todo lo relacionado a Llamados, <br>
    zonas, usuarios, etc para poder hacer un buen trabajo y <br>
    organizar las cosas para mostrar en la AppMovil!
</p>


