@inject NavigationManager navigationManager
@page "/"

@if (!string.IsNullOrWhiteSpace(LogIn.Token))
{
<h1>Loguado</h1>
}
else
{
	<h1>no logueado</h1>
}


@code{
	protected override async Task OnInitializedAsync()
	{
		if (string.IsNullOrWhiteSpace(LogIn.Token))
			navigationManager.NavigateTo("/Logueo");
	}
}