@inject NavigationManager navigationManager
@page "/"

@if (!string.IsNullOrWhiteSpace(LogIn.Token))
{
<h1>Logueado @LogIn.Usuario</h1>
}
else
{
	<h1>Sin loguear</h1>
}


@code{
	protected override async Task OnInitializedAsync()
	{
		if (string.IsNullOrWhiteSpace(LogIn.Token))
			navigationManager.NavigateTo("/Logueo");
	}
}